@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
h1, .logo, .footer__logo, .name {
  font-family: 'Shrikhand', cursive;
}

h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}

.style-bold {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  max-width: 170px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding-left: 20px;
}

h3 {
  font-size: 17px;
  font-weight: 700;
  position: relative;
  padding-left: 10px;
  margin: 2px;
}

h4 {
  font-size: 15px;
  padding-left: 10px;
  margin: 2px;
}

p {
  font-size: 13px;
}

a:link {
  text-decoration: none;
  color: #fff, black, 2;
}

a:active {
  text-decoration: none;
  color: #fff, black, 2;
}

a:visited {
  text-decoration: none;
  color: #fff, black, 2;
}

a:hover {
  text-decoration: none;
  color: #fff, black, 2;
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 30px;
  cursor: pointer;
}

.like--regular {
  font-size: 20px;
  position: absolute;
  top: 20px;
}

.like--solid {
  font-size: 20px;
  position: absolute;
  top: 20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
}

.footer__logo {
  font-size: 15px;
}

.footer__icon {
  padding: 0 10px 0 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0%;
  padding: 0;
}

.footer__list a:link {
  color: white;
}

.footer__list a:hover {
  color: white;
}

.footer__list a:active {
  color: white;
}

.footer__list a:visited {
  color: white;
}

.footer__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#bloc-page {
  width: 100%;
  margin: auto;
}

.return-icon {
  display: none;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  border-top: 2px solid #d1d1d1;
  -webkit-box-shadow: 1px 1px 3px 1px #d1d1d1 inset;
          box-shadow: 1px 1px 3px 1px #d1d1d1 inset;
}

.location__icon {
  font-size: 15px;
  padding-right: 30px;
}

.location__name {
  font-size: 13px;
}

.call-to-action {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.call-to-action__p {
  max-width: 250px;
  text-align: center;
}

.btn-explore {
  padding: 10px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
}

#steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.list__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon--screen, .icon--list, .icon--store {
  padding: 20px;
}

.icon--screen, .icon--list {
  color: #666666;
}

.btn {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 15px;
  position: relative;
  border-radius: 20px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 2px 5px 5px #dddddd;
          box-shadow: 2px 5px 5px #dddddd;
}

.number {
  border-radius: 10px;
  background: #9356DC;
  font-size: 10px;
  width: 12px;
  position: absolute;
  padding: 3px 0 1px 4px;
  left: -7px;
  color: #fff;
}

#restaurants__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  background-color: #f6f6f6;
}

.restaurant__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.image {
  width: 320px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card__description {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-radius: 0  0 15px 15px;
  background-color: #fff;
}

.restaurant__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.new {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px;
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  top: 20px;
  right: 20px;
}

#bloc-page {
  width: 100%;
  margin: auto;
}

.return-icon {
  visibility: visible;
}

.main__image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

h3:before {
  position: absolute;
  left: 10px;
  top: 20px;
  height: 0;
  width: 40px;
  content: '';
  border-top: 3px solid #99E2D0;
}

.dishes {
  background-color: #f6f6f6;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 15px;
  border-radius: 15px 15px 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name {
  font-size: 25px;
}

.like {
  cursor: pointer;
}

.like--regular {
  position: absolute;
}

.like--solid {
  position: absolute;
}

.menus {
  list-style: none;
}

.dish-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  line-height: 20%;
}

.dish-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */