@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
h1, .logo, .footer__logo, .name {
  font-family: "Shrikhand", cursive;
}

h2, h3, h4, p, ul, li, i, span, .btn-action, #ville {
  font-family: "Roboto", sans-serif;
}

.style-bold {
  align-self: center;
  font-size: 18px;
  max-width: 170px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:active {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.home-page h2 {
  font-size: 20px;
  font-weight: 700;
  align-self: baseline;
  padding-left: 20px;
}
@media screen and (min-width: 600px) {
  .home-page h2 {
    align-self: unset;
  }
}
@media screen and (min-width: 768px) {
  .home-page h2 {
    font-size: 22px;
  }
}
.home-page h3 {
  font-size: 15px;
  font-weight: 600;
  padding-left: 10px;
  margin: 2px;
}
.home-page h4 {
  font-size: 13px;
  font-weight: 400;
  padding-left: 10px;
  margin: 2px;
}
.home-page p, .home-page span {
  font-size: 13px;
  font-weight: 700;
}

.menu-page h2 {
  font-size: 30px;
  align-self: baseline;
  padding-left: 20px;
}
@media screen and (min-width: 600px) {
  .menu-page h2 {
    font-size: 30px;
  }
}
.menu-page h3 {
  font-size: 17px;
  font-weight: 400;
  padding-left: 10px;
  margin: 0;
  position: relative;
}
.menu-page h4 {
  font-size: 16px;
  margin: 0;
}
.menu-page p, .menu-page span {
  font-size: 13px;
}

.return-icon {
  color: #333333;
}

.btn-action {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  box-shadow: 2px 2px 3px 1px #d1d1d1;
}
.btn-action:hover {
  cursor: pointer;
  box-shadow: 7px 7px 7px #9e9e9e;
}

.btn-step {
  margin: auto;
  display: flex;
  text-align: center;
  margin: 0 0 17px 0;
  padding: 5px 70px 5px 30px;
  position: relative;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 2px 5px 5px #dddddd;
}
.btn-step:hover {
  cursor: pointer;
  box-shadow: 7px 7px 7px #aaaaaa;
  background-color: #f4eefc;
}
.btn-step:hover .colored {
  color: #9356DC;
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  cursor: pointer;
}
.like--regular {
  font-size: 20px;
  position: absolute;
  visibility: visible;
}
.like--regular:hover {
  visibility: hidden;
}
.like--solid {
  font-size: 20px;
  opacity: 0;
  position: absolute;
}
.like--solid:hover {
  opacity: 1;
  transition-duration: 1.5s;
}

.coloredheart {
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
}

.footer__logo {
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  .footer__logo {
    font-size: 30px;
    text-align: center;
  }
}

.footer__list {
  padding: 0;
}
@media screen and (min-width: 600px) {
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.footer__list {
  list-style-type: none;
}
.footer__list a:link {
  color: white;
}
.footer__list a:hover {
  color: white;
}
.footer__list a:active {
  color: white;
}
.footer__list a:visited {
  color: white;
}

.footer__list-link {
  vertical-align: baseline;
  padding: 1px;
}
.footer__list-link > .fa-solid {
  font-size: 10px;
  padding-right: 3px;
}
.footer__list-link > a, .footer__list-link span {
  font-weight: 100;
}
@media screen and (min-width: 600px) {
  .footer__list-link > a, .footer__list-link span {
    padding-right: 25px;
  }
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  z-index: 10;
  border: 3px solid #9356DC;
  -webkit-animation: up 1s ease-out forwards;
          animation: up 1s ease-out forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transition: 1.2s;
  border-bottom: none;
  border-right: none;
  margin-left: -70px;
  margin-top: -70px;
  left: 50%;
  top: 10%;
}

@-webkit-keyframes up {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes up {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#img2 {
  width: 190px;
  height: 190px;
  left: 50.35%;
  top: 10.7%;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#img3 {
  width: 180px;
  height: 180px;
  left: 50.7%;
  top: 11.4%;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#img4 {
  width: 170px;
  height: 170px;
  left: 51.05%;
  top: 12.1%;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#img5 {
  width: 160px;
  height: 160px;
  left: 51.4%;
  top: 12.8%;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loading-spinner {
  -webkit-animation: hide 1s ease-out forwards;
          animation: hide 1s ease-out forwards;
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
@-webkit-keyframes hidetemporarily {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  90% {
    opacity: 0.1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes hidetemporarily {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  90% {
    opacity: 0.1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.home-page {
  width: 100%;
  max-width: 1019px;
  margin: auto;
  -webkit-animation: hidetemporarily 3.5s -1s linear;
          animation: hidetemporarily 3.5s -1s linear;
}
.home-page .return-icon {
  display: none;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  border-top: 2px solid #d1d1d1;
  box-shadow: 1px 1px 3px 1px #d1d1d1 inset;
  font-size: 15px;
  padding: 10px;
}

#ville {
  border: none;
  background-color: #eaeaea;
}

::-moz-placeholder {
  font-size: 13px;
  font-weight: 700;
  color: black;
  text-align: center;
}

:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 700;
  color: black;
  text-align: center;
}

::placeholder {
  font-size: 13px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.call-to-action {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}
.call-to-action > h2 {
  max-width: 200px;
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .call-to-action > h2 {
    width: unset;
  }
}
.call-to-action > p {
  max-width: 270px;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  padding: 0 0 20px;
}
@media screen and (min-width: 600px) {
  .call-to-action > p {
    max-width: unset;
  }
}

#steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.list__steps {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon {
  padding: 20px;
  color: #666666;
}
.icon > .colored {
  padding-right: 20px;
}

.number {
  border-radius: 10px;
  background: #9356DC;
  font-size: 10px;
  width: 12px;
  position: absolute;
  padding: 3px;
  left: -7px;
  top: 24px;
  color: #fff;
}

#restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: #f6f6f6;
}

@media screen and (min-width: 600px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.restaurant__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .restaurant__card {
    margin: 20px;
  }
}

.card__img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.image {
  width: 310px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card__description {
  width: 310px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 7px 0;
  background-color: #fff;
  box-shadow: 2px 5px 5px #dddddd;
}

.restaurant__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.new {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 7px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.menu-page {
  width: 100%;
  max-width: 1019px;
  margin: auto;
  background-color: #f6f6f6;
}

.return-icon {
  display: inline-block;
  position: absolute;
  left: 20px;
}

.logo {
  position: relative;
  justify-content: flex-start;
}

#presentation {
  z-index: 1;
}

.main__image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  border-radius: 30px 30px 0 0;
  justify-content: space-between;
  position: relative;
  top: -30px;
}
@media screen and (min-width: 600px) {
  .title {
    justify-content: center;
  }
}

.name {
  font-size: 25px;
}

.dishes {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.dishes > .btn-action {
  width: 120px;
  margin-right: auto;
  margin-left: auto;
}

.like {
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .like {
    padding-left: 30px;
  }
}
.like--regular {
  position: absolute;
}
.like--solid {
  position: absolute;
}

.menus {
  max-width: 400px;
  list-style: none;
  margin: auto;
  padding: 20px 0;
  background-color: #f6f6f6;
}
@media screen and (min-width: 600px) {
  .menus {
    margin-top: 0;
  }
}

.dish-category {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0 0 20px 5px;
}
@media screen and (min-width: 600px) {
  .dish-category {
    display: flex;
    justify-content: center;
  }
}
.dish-category > h3:before {
  position: absolute;
  left: 10px;
  top: 20px;
  height: 0;
  width: 40px;
  content: "";
  border-top: 3px solid #99E2D0;
}

@media screen and (min-width: 600px) {
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }
}

.menus:nth-child(1) {
  position: relative;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menus:nth-child(2) {
  position: relative;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menus:nth-child(3) {
  position: relative;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes appear {
  0% {
    top: 70px;
    opacity: 0;
  }
  80% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    top: 70px;
    opacity: 0;
  }
  80% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.dish-description {
  width: 350px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin: 0 10px 15px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dish-name {
  height: 60px;
  display: flex;
  flex-direction: column;
}
.dish-name > h4 {
  padding: 10px 0 0 10px;
  margin: 0;
  width: 230px;
  transition-property: width;
  transition-duration: 0.5s;
}
.dish-name > p {
  padding: 2px 0 10px 10px;
  margin: 0;
  width: 230px;
  transition-property: width;
  transition-duration: 0.5s;
}

.dish-price {
  width: 40px;
  height: 60px;
  display: flex;
  align-items: end;
}
.dish-price > p {
  font-weight: 700;
}

.dish-choose-icon {
  width: 0;
  line-height: 60px;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 20px 20px 0;
  display: inline-block;
}

.rotate {
  width: 10px;
  height: 10px;
  padding-left: 18px;
  margin: 0;
}

.rot {
  vertical-align: center;
}

.dish-description:hover .rot {
  -webkit-animation: roll-in 0.6s linear forwards;
          animation: roll-in 0.6s linear forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes roll-in {
  0% {
    transform: rotate(0deg);
  }
  25% {
    top: 50%;
    transform: rotate(90deg);
  }
  50% {
    top: 50%;
    transform: rotate(180deg);
  }
  75% {
    top: 50%;
    transform: rotate(240deg);
  }
  100% {
    top: 50%;
    transform: rotate(360deg);
  }
}

@keyframes roll-in {
  0% {
    transform: rotate(0deg);
  }
  25% {
    top: 50%;
    transform: rotate(90deg);
  }
  50% {
    top: 50%;
    transform: rotate(180deg);
  }
  75% {
    top: 50%;
    transform: rotate(240deg);
  }
  100% {
    top: 50%;
    transform: rotate(360deg);
  }
}
.dish-description:hover {
  cursor: pointer;
}
.dish-description:hover > .dish-name > h4, .dish-description:hover > .dish-name > p {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 0;
}
.dish-description:hover > .dish-choose-icon {
  width: 50px;
  transition: width 0.5s linear;
}/*# sourceMappingURL=main.css.map */