
// FOOTER

footer{
    background-color: nth($background-colour,4);
    color:$colour-font-on-dark-bg;
    padding:20px;
}

.footer__logo{
    font-size:20px;
    @include tablet{
        font-size:30px;
        text-align:center;
    }
}

.footer__list{
    padding:0;
@include tablet{
    display:flex;
    flex-direction:row; 
    justify-content:center;
    }
}
.footer__list{
 list-style-type:none;
    a:link {
        color:white;
    };
    a:hover{
        color:white;
    };
    a:active{
        color:white;
    };
    a:visited{
        color:white;
    };        
}

.footer__list-link{
    vertical-align:baseline;padding:1px;
    > .fa-solid {
        font-size:10px; padding-right:3px;
    }
    > a, span{
        font-weight:100;
        @include tablet{
            padding-right:25px;
        }
    }
}