
// HEADER

header{
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding-bottom: 15px;}

    .logo{
        font-size:25px;
        display:flex;
        justify-content:center;}

