
// HEADER

header{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

    .logo{
        font-size:25px;
        display:flex;
        justify-content:center;
}

