// BUTTONS 

// HEADER RETURN ICON BUTTON
.return-icon{
    color:lighten($colour-font-on-light-bg,20%);
}

// BUTTON-ACTION FOR ALL PAGES 
.btn-action{
    text-align:center;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient($colour-secondary, $colour-primary);
    color:$colour-font-on-dark-bg;
    box-shadow: 2px 2px 3px 1px darken(nth($background-colour,2),10%);
    &:hover{
        cursor:pointer;
        box-shadow: 7px 7px 7px darken(nth($background-colour,2),30%);
    }
}
// BUTTON-STEP FOR HOMEPAGE 
.btn-step{
    margin:auto;
    display:flex;
    text-align: center;
    margin-bottom:17px;
    padding:5px 70px 5px 30px;
    position:relative;
    border-radius:20px;
    background-color: nth($background-colour,1);
    box-shadow: 2px 5px 5px darken(nth($background-colour,1),10%);
    &:hover{
        cursor: pointer;
        box-shadow: 7px 7px 7px darken(nth($background-colour,1),30%);
        background-color:lighten($colour-primary,36%);
        .colored{
                color:$colour-primary;
        }
    }
}

// LIKE BUTTONS FOR ALL PAGES 
.like{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-right:30px;
    cursor: pointer;
    &--regular{
        font-size:20px;
        position:absolute;
        visibility:visible;
        color:none;
        &:hover{
        visibility:hidden;
        }
    }
    &--solid{
        font-size:20px;
        opacity:0;
        position:absolute;
        &:hover{
            opacity:1; 
            transition-duration:1.5s;
        }
    }
}
.coloredheart {
    background: -webkit-gradient(linear, right top, left bottom, from($colour-primary), to($colour-secondary));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}