// BUTTONS 
.btn-action{
    text-align:center;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient($colour-secondary, $colour-primary);
    color:$colour-font-on-dark-bg;
    box-shadow: 2px 2px 3px 1px darken(nth($background-colour,2),10%);}
.btn-action:hover{
    @include hover-bow-shadow;}
.btn-step{
    width:280px;
    display:flex;
    text-align: center;
    margin-bottom:15px;
    position:relative;
    border-radius:20px;
    background-color: nth($background-colour,1);
    box-shadow: 2px 5px 5px darken(nth($background-colour,1),10%);}
    
.btn-step:hover{
    @include hover-bow-shadow;
    @include hover-background-color;}

.like{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-right:30px;
    cursor: pointer;
    &--regular{font-size:20px;position:absolute;}
    &--solid{font-size:20px;position:absolute; color:$colour-primary;}}

.return-icon{
    color:lighten($colour-font-on-light-bg,20%);}