// ALL
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

h1, .logo, .footer__logo, .name {font-family:'Shrikhand', cursive;}
h2, h3, h4, p, ul, li, i, span, .btn-action, #ville {font-family:'Roboto', sans-serif;}

.style-bold {
    align-self:center;
    font-size:18px;
    max-width:170px;
    text-align:center;
    margin-bottom:0;
    padding-bottom:0;
}
a:link {
    text-decoration:none;
    color: ($colour-font-on-light-bg);
}
a:active {
    text-decoration:none;
    color: $colour-font-on-light-bg;
}
a:visited {
    text-decoration:none;
    color: $colour-font-on-light-bg;
}
a:hover {
    cursor:pointer;
    text-decoration:none;
    color: $colour-font-on-light-bg;
}

// HOME-PAGE
.home-page{
    h2{
        font-size: 20px;
        font-weight:700;
        align-self:baseline;
        padding-left:20px;
        @include tablet {align-self:unset;};
        @include desktop {font-size:22px;}
        }
    h3{
        font-size: 15px;
        font-weight:600;
        padding-left:10px;
        margin:2px;
    }
    h4{
        font-size: 13px;
        font-weight:400;
        padding-left:10px;
        margin:2px;
    }
    p, span {
        font-size:13px;
        font-weight:700;
    }
}

// MENU PAGES
.menu-page{
    h2{
        font-size: 30px;
        align-self:baseline;
        padding-left:20px;
        @include tablet {
            font-size:30px;
        }
    }
    h3{
        font-size: 17px;
        font-weight:400;
        padding-left:10px;
        margin:0;
        position:relative;
    }
    h4{
        font-size: 16px;
        margin:0;
    }
    p, span {
        font-size:13px;
    }
}
