@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

h1, .logo, .footer__logo {font-family:'Shrikhand', cursive;}
h2, p {font-family:'Roboto', sans-serif;}

h2{
    font-size: 16px;
    padding: 10px 0 15px 10px;}

h3{
    font-size: 17px;
    font-weight:700;
    padding-left:10px;
    margin:2px;}

h4{
    font-size: 15px;
    padding-left:10px;
    margin:2px;}

p {
    font-size:13px;}

:link{
    text-decoration:none;
    // @include text-colour (color:#fff);
    }

    // .typography{
//     @if ($block==h1 or logo) {font-family: 'Shrikhand', cursive;}
//     @else {font-family:'Roboto', sans-serif;font-weight: normal;}
//     }
