//ALL
#bloc-page{
    max-width: 350px;
    margin: auto;}

// LOCATION
.location{
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow: 0 0 3px -1px nth($background-colour,5);
    background-color: nth($background-colour,2);
        &__icon
            {font-size:15px;
            padding-right:30px;};
        &__name{font-size:13px;}                
    }

.call-to-action{
    background-color: nth($background-colour,1);
    display:flex; 
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-bottom: 20px;};

.call-to-action h2 {
        max-width:170px;
        text-align:center;
        margin-bottom:0;
        padding-bottom:0;}

.call-to-action__p{
        max-width:250px; 
        text-align:center;}

.btn-explore{
    padding: 10px;
    border-radius: 20px;
    background-color: $colour-primary;
    color:$colour-font-on-dark-bg;}

#steps{
    display:flex;
    flex-direction:column;}

.list__steps    {
    display:flex;
    flex-direction:column;
    list-style:none;}

.icon{
    &--screen, &--list, &--store {padding:10px;}
}

.btn{
    width:80%;
    display:flex;
    align-items:center;
    justify-content:first baseline;
    margin:0 0 10px 20px;
    border-radius:20px;
    background-color: nth($background-colour,1);}

.number{border-radius:10px; 
        background:$colour-primary;
        font-size:10px;
        width:12px;
        position: relative;
        padding:3px 0 1px 4px;
        margin-left:-5px;
        color:$colour-font-on-dark-bg;
        // @include text-colour;
    }

#restaurants__cards{
    display:flex;
    flex-direction:column;
    background-color:nth($background-colour,1);}

.restaurant__card{
    display:flex;
    flex-direction:column;}

.card__img{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    width:90%;
    height:50px;
    object-fit:cover;}

.card__description{
    display:flex;
    position:relative;}

.restaurant__description{
    display:flex; 
    flex-direction:column;}






