//ALL
#bloc-page{
    max-width: 350px;
    margin: auto;}

// LOCATION
.location{
    display:flex;
    align-items:center;
    justify-content:center;
    border: 2px black solid;
    background-color: nth($background-colour,2);
        &__icon
            {font-size:15px;
            padding-right:30px;};
        &__name{font-size:13px;}                
    }

.call-to-action{
    background-color: nth($background-colour,1);
    display:flex; 
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-bottom: 20px;};

.call-to-action h2 {
        max-width:170px;
        text-align:center;
        margin-bottom:0;
        padding-bottom:0;}

.call-to-action p {
        max-width:250px; 
        text-align:center;}

.btn-explore{
    padding: 10px;
    border-radius: 10px;
}

.list__steps
    {display:flex;
    flex-direction:column;
    list-style:none;}

.btn{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding:1px;
    margin:1px;
    border-radius:20px;}

.number{border-radius:10px; 
        background:$colour-primary;
        font-size:10px;
        width:12px;
        padding:2px;
        @include text-colour;}

#restaurants__cards{
    display:flex;
    flex-direction:column;}

.restaurant__card{
    display:flex;
    flex-direction:column;
    height:350px;}

.card__img{
    display:flex;
    flex-direction:column;
    max-height:100px;
    object-fit:cover;}

.card__description{
    display:flex;
    position:relative;}

.restaurant__description{
    display:flex; 
    flex-direction:column;}






