// ALL 
.menu-page{
    width:100%;
    max-width:1019px;
    margin: auto;
    background-color:nth($background-colour,1)
}
// HEADER
.return-icon{
    display:inline-block; 
    position:absolute; 
    left:20px;
}
.logo{
    position:relative; 
    justify-content: flex-start;
}
//PRESENTATION
#presentation{
    z-index:1;
}
.main__image{
    width:100%;
    height:200px;
    object-fit: cover; 
}
.title{
    background-color:nth($background-colour,1);
    display:flex; 
    align-items:center;
    border-radius:15px 15px 0 0;
    justify-content:space-between;
    position:relative;
    top:-15px;
    @include tablet{
        justify-content:center;
    }
}
// DISHES
.dish-category{
    > h3:before{
    position: absolute;
    left: 10px;
    top: 20px;
    height: 0;
    width: 40px;
    content: '';
    border-top: 3px solid $colour-tertiary;
    }
}
.wrap{
    @include tablet{display:flex; flex-wrap:wrap;
    }
}
.menus:nth-child(1){
    position:relative;
    animation-name:appear;
    animation-duration:3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.menus:nth-child(2){
    position:relative;
    animation-name:appear;
    animation-duration:2.5s;
    animation-delay:1s;
    animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.menus:nth-child(3){
    position:relative;
    animation-name:appear;
    animation-duration:2s;
    animation-delay:2s;
    animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes appear{
    0%{
        top:70px;
        opacity: 0;
    }
    100%{
        top:0;
        opacity: 1;
    }
}
.dishes{
    background-color:nth($background-colour,1);
    padding-bottom:50px;
    >.btn-action{
        width:120px;
        margin-right:auto;
        margin-left:auto;
    }
}
.name{
    font-size:25px;
}
.like{
    cursor: pointer;
    @include tablet{
        padding-left:30px;
    };
    &--regular{
        position:absolute;
    }
    &--solid{
        position:absolute;
    }
}
.menus{
    max-width:400px;
    list-style:none;
    margin:auto;
    padding: 20px 0;
    background-color:nth($background-colour,1);
    @include tablet{
        margin-top:0
    };
}
.dish-category{
    background-color:nth($background-colour,1);
    margin:0;
    padding:0 0 20px 5px;
    @include tablet{
        display:flex; justify-content:center;
    };
}
.dish-description{
    display:flex;
    // align-items:flex-end;
    justify-content:space-between;
    height:60px;
    width:350px;
    background-color: white;
    border-radius:20px;
    margin:0 10px 15px;
    > .dish-price{
        // padding-right:20px;
    > p{
        font-weight:700;}
   }
}
.dish-description:hover{
    cursor:pointer;
    > .dish-choose-icon{
        // display:inline-block;
        width:40px;
        border-radius:0 20px 20px 0;
        transition: width 1s;
    }
    > .dish-name h4, p {
        max-width:190px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        padding-right:0;
    }
    > .dish-price {
        padding-right:5px;
    }
}
.rot{
    animation: roll-in linear forwards;
    animation-duration:0.5s;
    animation-iteration-count:1;
}

@keyframes roll-in{
    0%{
        // right:-7px;
        transform:rotate(0deg);
        border-radius:50px;
        object-fit:contain;
    }
    25%{
        // right:-5px;
        transform:rotate(90deg);
    }
    75%{
        // right:-2px;
        transform:rotate(180deg);
    }
    100%{
        // right:0px;
        transform:rotate(360deg);
    }
}
.dish-name{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:baseline;
    >h4 {padding:10px 0 0 10px;}
    > p {padding:2px 0 10px 10px; margin:0;}
}
.dish-choose-icon{
    width:0px;
    height:60px;
    // padding:20px 18px;
    background-color:$colour-tertiary;
    color:white;
    // margin:auto;
    // text-align:center;
    // vertical-align:center;
    // position:relative;
    // display:none;
    overflow:hidden;
}