// ALL MENU PAGES 
.menu-page{
    width:100%;
    max-width:1019px;
    margin: auto;
    background-color:nth($background-colour,1)
}
// HEADER
.return-icon{
    display:inline-block; 
    position:absolute; 
    left:20px;
}
.logo{
    position:relative; 
    justify-content: flex-start;
}
//PRESENTATION BELOW HEADER WITH MENU TITLE
#presentation{
    z-index:1;
}
.main__image{
    width:100%;
    height:200px;
    object-fit: cover; 
}
.title{
    background-color:nth($background-colour,1);
    display:flex; 
    align-items:center;
    border-radius:30px 30px 0 0;
    justify-content:space-between;
    position:relative;
    top:-30px;
    @include tablet{
        justify-content:center;
    }
}
// DISHES SECTION GENERAL LAYOUT
.name{
    font-size:25px;
}
.dishes{
    background-color:nth($background-colour,1);
    padding-bottom:50px;
    >.btn-action{
        width:120px;
        margin-right:auto;
        margin-left:auto;
    }
}
.like{
    cursor: pointer;
    @include tablet{
        padding-left:30px;
    };
    &--regular{
        position:absolute;
    }
    &--solid{
        position:absolute;
    }
}
// MENUS
.menus{
    max-width:400px;
    list-style:none;
    margin:auto;
    padding: 20px 0;
    background-color:nth($background-colour,1);
    @include tablet{
        margin-top:0
    };
}

.dish-category{
    background-color:nth($background-colour,1);
    margin:0;
    padding:0 0 20px 5px;
    @include tablet{
        display:flex; justify-content:center;
    };
    > h3:before{
    position: absolute;
    left: 10px;
    top: 20px;
    height: 0;
    width: 40px;
    content: '';
    border-top: 3px solid $colour-tertiary;
    }
}
.wrap{
    @include tablet{display:flex; flex-wrap:wrap;
    }
}
// MENUS APPEARANCE ANIMATION
.menus:nth-child(1){
    position:relative;
    animation-name:appear;
    animation-duration:0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.menus:nth-child(2){
    position:relative;
    animation-name:appear;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.menus:nth-child(3){
    position:relative;
    animation-name:appear;
    animation-duration:1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes appear{
    0%{
        top:70px;
        opacity: 0;
    }
    80%{
        top:20px;
        opacity: 0;}
    100%{
        top:0;
        opacity: 1;
    }
}

// MENU ITEMS & ANIMATION CHECK ITEM APPEARANCE
.dish-description{  
    width:350px;
    height:60px;
    display:flex;
    justify-content:space-between;
    background-color: white;
    border-radius:20px;
    margin:0 10px 15px;
    position:relative;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.dish-name{
    height: 60px;
    display:flex;
    flex-direction:column;
    >h4 {
        padding:10px 0 0 10px; 
        margin:0;
        width: 230px;
        transition-property:width;
        transition-duration:0.5s;
       }
    >p {
        padding:2px 0 10px 10px; 
        margin:0;
        width: 230px;
        transition-property:width;
        transition-duration:0.5s;
    }
}
.dish-price {
    width: 40px;
    height:60px;
    display:flex;
    align-items:end;
    > p{
        font-weight:700;
    }
}
.dish-choose-icon{
    width:0;
    line-height:60px;
    background-color:$colour-tertiary;
    color:white;
    border-radius:0 20px 20px 0;
    display:inline-block;
}
.rotate{
    width:10px;
    height:10px;
    padding-left:18px; 
    margin:0;
    }
.rot{
    vertical-align:center;
}
// ANIMATION CHECK-BOX ROTATION
.dish-description:hover{
    .rot{
    animation: roll-in 0.6s linear forwards;
    animation-iteration-count:1;
    }
}
@keyframes roll-in{
    0%{
        transform:rotate(0deg);
    }
    25%{
        top:50%;
        transform:rotate(90deg);
    }
    50%{
        top:50%;
        transform:rotate(180deg);
    }
    75%{
        top:50%;
        transform:rotate(240deg);
    }
    100%{
        top:50%;
        transform:rotate(360deg);
    }
}

// ANIMATION DISH-DESCRIPTION COLLAPSE

.dish-description:hover{
    cursor:pointer;
    >.dish-name{
        > h4, > p{      
            width:200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow:ellipsis;
            padding-right:0;
        }
    }
    >.dish-choose-icon{
        width:50px;
        transition: width 0.5s linear;
    }
}